/* App.css */
.primary-color {
    background-color: #F5B041;
  }
  
  .secondary-color {
    background-color: #3498DB;
  }
  
  .accent-color-emerald {
    background-color: #2ECC71;
  }
  
  .accent-color-light-red {
    background-color: #E74C3C;
  }
  
  .accent-color-amethyst {
    background-color: #9B59B6;
  }
  
  .accent-color-yellow {
    background-color: #F1C40F;
  }
  
  .app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("https://c4.wallpaperflare.com/wallpaper/503/189/157/video-games-pokemon-pixels-pixel-art-wallpaper-preview.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    padding: 2rem;
  }
  
  .button-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1rem;
  }
  
  .logout-button {
    background-color: #E74C3C;
    border: none;
    color: white;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .admin-button {
    background-color: #2ECC71;
    border: none;
    color: white;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .typebox-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 2rem;
  }
  
  .checkbox-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    user-select: none;
    font-size: 0.9rem;
  }

.checkbox-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  user-select: none;
  font-size: 0.9rem;
}

.checkbox-label {
  padding: 0.25rem 0.75rem;
  border-radius: 5px;
  border: 1px solid #F5B041;
  background-color: white;
  color: #F5B041;
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s;
}

input[type="checkbox"]:checked + .checkbox-label {
  background-color: #3498DB;
  border-color: #3498DB;
  color: white;
}

input[type="checkbox"] + .checkbox-label:hover {
  background-color: #F5B041;
  border-color: #F5B041;
  color: white;
}

input[type="checkbox"]:checked + .checkbox-label:hover {
  background-color: #217dbb;
  border-color: #217dbb;
  color: white;
}